/* to make the background more attractive */
body {
    margin: 0;
    background: linear-gradient(135deg, #490555, #8d43a4);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* to style the main clock container */
#clockContainer {
    border: 3px solid #333;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    width: 400px;
    background-color: #db97df;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

/* to center-align the items */
#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

/* for timer text and its border */
#timerText {
    border: 2px dotted #333;
    border-radius: 10px;
    width: 260px;
    padding: 10px;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff;
    text-align: center;
}

/* for styling the text (STOPWATCH) */
#text {
    color: #bfbbc3;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

/* for styling the start, stop and reset buttons */
#buttons {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 20px;
}

/* for styling the buttons and adding text-shadow */
.button {
    border: 2px solid;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

#startButton {
    border-color: #090000;
    color: #000602;
    background-color: white;
   
}

#startButton:hover {
    background-color: #9e8d9c;
    color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

#stopButton {
    border-color: #dc3545;
    color: #dc3545;
    background-color: white;
}

#stopButton:hover {
    background-color: #dc3545;
    color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

#resetButton {
    border-color: #17a2b8;
    color: #17a2b8;
    background-color: white;
  
}

#resetButton:hover {
    background-color: #17a2b8;
    color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
